body{
    background-color: rgb(39, 36, 36);
    }
    
    img{
        width: 4vw;
        height: auto !important;
    }
    
    .fapposlogo{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        background-color: white !important;
        padding: 1vw;
        justify-content: space-between;
    }
    
    .text1{
        font-size: 1vw;    
        font-family: 'Open Sans';
        font-weight: bold !important;
        color: white;
    
    }
    
    .text2{
        font-size: 1vw;    
        font-family: 'Open Sans';
        font-weight: bold !important;
        color: white;
    }
    
    .container{
        width: 60%;
        height: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: auto;
        margin-top: 10%;
        background-color: rgb(255, 255, 255);
        border-radius: 1.5vw;
        padding: 2vw;
    }

    h1 {
        background-color: rgb(255, 255, 255);
        margin: 0;
    }

    #hexInput {
        border: none;
        background-color: rgba(255, 255, 255, 0);
        margin: 1vw;
        margin-bottom: 0;
        margin-left: 5vw;
    }

    #result {
        margin: 1vw;
        margin-top: 0;
        margin-left: 5vw;
    }
    
    #convertBtn{
        background-color: rgb(25, 0, 255);
        color: white;
        padding: 0.6vw;
        border-radius: 0.5vw;
        border: none;
        cursor: pointer;
        font-size: 1.5vw;
        margin-top: 1vw;
    }
    
    .footer{
        display: flex;
        justify-content: center;
        margin-top: 1vw;
    }
    
    .footertext,.footer{
        font-size: 1vw;
        margin-top: 1vw;
        font-family: "Open Sans";
    }